/*********** Colors pallet 
 * White: #ececec
 * Light Green: #a6dace
 * Light Pink: #f25b4a
 * Dark Pink: #db3e35
 * Black: #41383d
 * Dark Black: #332c30

*/
/*********** HTML Tags */
body{
    background-color: #fff;
	
	font-family: "Candara", sans-serif;
	color: #41383d;
}

/*********** Header */
.header-top{
	background-color: #41383d;
}
.menu-link{
	color: #ececec;
}
.menu-link:hover{
	background-color: #f25b4a !important;
	color: #ececec;
}
#logo{
	font-size: 25px;
    line-height: 50px;
	color: #ececec;
	text-decoration: none;
	font-family: helvetica;
}

/*********** Question Section */
.question{
	font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;

    min-height: 200px;
    padding: 20px 10px;
}
.title-question{
	font-size: 32px;
	line-height: 38px;
}
.question hr{
	border-top: 2px dashed #f25b4a;
    width: 40vw;
}
.ads{
	min-height: 200px;
    padding: 10px 10px;
	overflow: hidden;
}
.ads img{ /* remove after*/
	float: right;
}
.verify{
	font-size: 20px;
    padding: 25px 20px;
}
.verify-row{
	background-color: #41383d;
}
.radio-row{
    background-color: #f25b4a;
}
.button-mod{ /* test */
    color: #ececec;
	font-size: 14px;
	font-weight: 700;
	background-color: #f25b4a;
	min-height:48px;
	
	border: none;
	border-bottom: solid 3px #db3e35;
	border-radius: 5px;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.button-mod:hover{
	color: #f25b4a;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.button-dis{
	background-color: #ececec;
	color: #b1b3a8;
	border-bottom: solid 3px #b1b3a8;
}
.button-dis:hover{
	background-color: #ececec;
	color: #b1b3a8;
	border-bottom: solid 3px #b1b3a8;
	cursor: not-allowed;
}
.btn-facebook{
	background-color: #648ad6;
    border-bottom: solid 3px #5874ad;
}
.btn-facebook:hover{
	color: #648ad6;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.btn-twitter{
	background-color: #55acee;
	border-bottom: solid 3px #4a95cf;
}
.btn-twitter:hover{
	color: #55acee;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.btn-like{
	background-color: #a6dace;
	border-bottom: solid 3px #91beb3;
}
.btn-like:hover{
	color: #91beb3;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.profile-img{
	border-radius: 25px;
	margin: 3px;
}
/*********** Footer */