/*********** HTML Tags */
body{
    background-color: #f0f0f0;
    background-image: /*url(background.png)*/;
    background-position: left;
	
	font-family: museo-sans-rounded,sans-serif!important;
	color: #3c3c3c;
}
header{
    color: white;
    background-color:black;
    padding: 5px;
	text-align:center;
}

/*********** Header */
.header-top{
	background-color: #34495E;
}
.menu-link{
	color: #f0f0f0;
}
#logo{
    width: 45px;
    vertical-align:-11px;
}
#logo{
	font-family: "Times New Roman", sans-serif;
	font-size: 35px;
	text-decoration:none;
	font-weight: bold;
}
#logo-first{
    color: rgb(79,175,70);
}
#logo-last{
    color: rgb(149,108,78);
}

/*********** Question Section */
.Pergunta{
    text-align: center
}
.TabelaPergunta{
    font-family: Lucida Sans Unicode;
    font-size: 20px;
    text-align: center;
    border-width:thick;
    /*border-style: ridge;*/
    border-color: rgb(160,82,45);/*border-color: darkgreen;*/
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #b4fcaa; 
}
.Botoes{
    padding: 30px;
    text-align-last: center;
}

.question{
	font-size: 32px;
    line-height: 38px;
	
	min-height: 200px;
    padding: 50px 0px;
}
.ads{
	min-height: 200px;
	padding: 10px;
}
/* remove after*/
.ads img{
	float: right;
}
.option{
	background-color: #e7e7e7;
	min-height: 150px;
	text-align: center;
	font-size: 20px;
    padding: 50px 0px;
}

/*********** Footer */