/*********** Colors pallet 
 * White: #ececec
 * Light Blue: #a6dace
 * Light Pink: #f25b4a
 * Dark Pink: #db3e35
 * Black: #41383d
 * Dark Black: #332c30

*/
/*********** HTML Tags */
body{
    background-color: #ececec;
	
	font-family: "Candara", sans-serif;
	color: #41383d;
}
header{
    color: #ececec;
    background-color:#41383d;
    padding: 5px;
	text-align:center;
}

/*********** Header */
.header-top{
	background-color: #f25b4a;
	border-bottom: solid 3px #db3e35;
}
.menu-link{
	color: #ececec;
}
.menu-link:hover{
	background-color: #db3e35 !important;
	color: #ececec;
}
#logo{
    width: 45px;
    vertical-align: -11px;
}
#logo{
	font-family: "Candara", sans-serif;
	font-size: 35px;
	text-decoration:none;
	font-weight: bold;
}
#logo-first{
    color: #ececec;
}
#logo-last{
    color: #ececec;
}

/*********** Question Section */
.question{
	font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;

    min-height: 200px;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 10px;
	margin: 10px 10px;
}
.title-question{
	font-size: 32px;
	line-height: 38px;
}
.question hr{
	border-top: 3px solid #a6dace;
    width: 300px;
}
.ads{
	min-height: 200px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 10px;
}
.ads img{ /* remove after*/
	float: right;
}
.option{
	background-color: #f25b4a;
	color: #a6dace;
	text-align: center;
	font-size: 20px;
    padding: 40px 0px;
}
.verify{
	font-size: 20px;
    padding: 25px 20px;
}
.verify-row{
	background-color: #a6dace;
}
.radio-row{
	border-bottom: dotted 3px #f25b4a;
    background-color: #a6dace;
}
.button-mod{ /* test */
    color: #ececec;
	min-width: 150px;
	font-size: 17px;
	font-weight: 700;
	background-color: #f25b4a;
	height:48px;
	padding: 0px 20px;
	
	border: none;
	border-bottom: solid 3px #db3e35;
	border-radius: 5px;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.button-mod:hover{
	color: #f25b4a;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.button-dis{
	background-color: #ececec;
	color: #b1b3a8;
	border-bottom: solid 3px #b1b3a8;
}
.button-dis:hover{
	background-color: #ececec;
	color: #b1b3a8;
	border-bottom: solid 3px #b1b3a8;
	cursor: not-allowed;
}
.btn-facebook{
	background-color: #648ad6;
    border-bottom: solid 3px #5874ad;
}
.btn-facebook:hover{
	color: #648ad6;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
.btn-twitter{
	background-color: #55acee;
	border-bottom: solid 3px #4a95cf;
}
.btn-twitter:hover{
	color: #55acee;
	background-color: #ececec;
	border-bottom: solid 3px #ececec;
}
/*********** Área para teste de classes para o radio button personalizado https://codepen.io/inzrb/pen/JcmLw */
.inputradio-mod{
	display:none;
}
input[type="radio"].inputradio-mod:checked + label.label-mod {
    color: #ececec;
	border: 2px solid;
}
input[type="radio"].inputradio-mod:checked + label span.small-radio {
    background-color: #ececec;
    opacity: 1;
}
label.label-mod{
  display:inline-block;
  padding:20px;
  border: 2px solid #f25b4a;
  border-radius: 15px;
}
span.big-radio {
    background-color: #41383d;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 25px;
    margin-bottom: -11px;
    margin-right: 9px;
    padding: 8px;
    position: relative;
    top: -3px;
    width: 25px;
}
span.small-radio {
    border-radius: 50% 50% 50% 50%;
    display: block;
    height: 100%;
    transition: background 0.4s ease 0s;
    width: 100%;
}



/*********** Footer */