/***************Matheus*/
.entrar{
    color: #ececec;
	min-width: 150px;
	font-size: 17px;
	font-weight: 700;
	background-color: #f25b4a;
	height:30px;
	padding: 0px 20px;
	
	border: none;
	border-bottom: solid 3px #db3e35;
	border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.entrar:hover{
	color: #f25b4a;
	background-color: #ececec;
	border-bottom: solid 3px gray;
    border-radius: 5px;
}

.body-login{
    background-color: #332c30;
}

.login-box{
	font-size: 20px;
}
.titulo-login{
    font-size: 60px;
    text-align: center;
    color: black;
    margin-bottom: 70px
}

.row{
    margin-bottom: 30px
}

.opcoes{
    text-align: center;
    
}

.login{
    margin-top: 40px;
    background-color: #a6dace; /* #ececec */
    border-radius: 10px;
}

.input-group-addon{
    
}

/**************Arthur*/







/************Vinicius*/
.progress-bar{
    background-color: #f25b4a
}